.defensx-suspicious-input-warning {
    background-color: rgba(11, 36, 88, 0.2) !important;
    border: 2px solid #0b2458 !important;
    color: red !important;
    pointer-events: auto !important;
    position: relative;
}

.defensx-suspicious-input {
    background-color: #ffd7d7 !important;
    border: 2px solid #faa !important;
    color: red !important;
    pointer-events: auto !important;
}

.dx-blur {
    filter: blur(0.5em);
    &:hover {
        filter: blur(0);
    }
}
