* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body.main {
    font-family: "system-ui", sans-serif;
    font-size: 1rem;
    background-color: rgb(247, 247, 247);
    color: #404042;
    margin: 0;
    line-height: 1.5;
    height: 100%;
}

#core {
    width: 785px;
    padding-inline: 1rem;
    margin-left: auto;
    margin-right: auto;
    border-left: 2px solid #f1f1f1;
    border-right: 2px solid #f1f1f1;
    background: #fff;
    height: 100%;
}

iframe {
    border: none;
    width: 100%;
    height: 95vh;
}
iframe.edge {
    height: 630px;
}

iframe.chrome {
    height: 760px;
}

iframe.firefox {
    height: 760px;
}


.btn {
    cursor: pointer;
    display: inline-flex;
    overflow: hidden;
    box-sizing: border-box;
    transition: all 0.1s ease-in-out;
    padding: 8px 16px;
    align-items: center;
    white-space: nowrap;
    justify-content: center;
    text-decoration: none;
    font-size: 14px;
    border: 2px solid transparent;
    border-radius: 2px;
    color: #2B2B2B;
    fill: #2B2B2B;
    background: #EDEDED;
}


.btn.large {
    font-size: 1.5rem;
}

.btn.primary:hover {
    background: #006CBE;
}

.btn.primary {
    color: #FFFFFF;
    fill: #FFFFFF;
    background: #0078D4;
}

.btn.block {
    width: 100%;
}

.d-none {
    display: none;
}

.page {
    padding-inline: .5rem;
}

.page .desc {
    margin-bottom: 1.25rem;
}

.page h1 {
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
    margin-top:0;
    padding-top: 1rem;
    font-size: 1.4rem;
}

.page h1 span {
    border-left: 2px solid #ececec;
    margin-left: .75rem;
    padding-left: 1.1rem;
}

.page h1 img {
    width: 120px;
    margin-right: .5rem;
    margin-top: 4px;
}
